/* style.css */

html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;  
    background-color: black;
  }

  .card > .media {
    width: 320px;
    height: 170px;
  }

  .p5Canvas {
    width: 100%;
    height: 100%;
  }